<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>EDITAR CLIENTE</title>

    <!-- Adicione os links para os estilos do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">EDITAR CLIENTE</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/pacote/editar/{id}(id=${pacote.id})" th:object="${pacote}" method="post">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" id="id" class="form-control" th:field="*{id}" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label for="nome">NOME:</label>
                                <input type="text" id="nome" class="form-control" th:field="*{nome}" />
                            </div>

                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input type="text" id="cpf" class="form-control" th:field="*{cpf}" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">SALVAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicione os scripts do Bootstrap (jQuery e Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>

	</body>
	
	
	
	
	
	
	
	
	
	
	
	
</html>