<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> LISTAGEM DE CLIENTES</title>

    <!-- Adicione os links para os estilos do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="container"> <!-- Container Bootstrap para centralizar o conteúdo -->

        <h1> Lista de Cliente </h1>
        <a th:href="@{/cliente/ListarClientes}" class="btn btn-primary"> Adicionar Cliente </a>

        <table class="table">
            <thead>
                <tr>
                    
                    <th>Cidade</th>
                    <th>País</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.idDestino}"> </td>
                    <td th:text="${cliente.cidade}"> </td>
                    <td th:text="${cliente.país}"> </td>
                    <td>
                        <a href="EditarDestinos.html" class="btn btn-warning"> EDITAR </a>
                        <a th:href="@{/destino/deletar/{id}(id=${destino.idDestino})}" class="btn btn-danger"> DELETAR </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- Adicione os scripts do Bootstrap (jQuery e Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>